.container{
    display: flex;
    height: 100%;
}

.filtros{
    display: flex;
    flex-direction: column;
    width: 12em;
    border-right: 3px #F2F2F2 solid;
    padding: 8px;
    gap: 8px;
    overflow: auto;
}

.filtro_title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.radioFiltro{
    width: 24px;
    height: 24px;
}

.vehiculos{
    width: inherit;
    display: flex;
    padding: 8px;
    gap: 8px;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.btn.active {
    background-color: var(--bg-oscuro);
    color: #fff;
}


